<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>

    <style>
        body {
            text-align: center;
        }

        #reset-btn {
            border: none;
            background-color: #54BBFB;
            color: white;
            padding: 1rem 3rem;
            cursor: pointer;
            margin: 2rem auto;
            display: block;
            width: fit-content;
            text-decoration: none;
            cursor: pointer;
        }

        #reset-btn:hover {
            background-color: #2E80E7;
        }

        .message {
            font-size: x-large;
        }

        .info {
            color: gray;
        }
    </style>
</head>
<body>
    <h1>Reset Password</h1>
    <p class="message">Hi <%=firstName%>, <br>
        The link below will reset your password to the password in this email. After reset, please signin and update your password to a strong passphrase of your choice.</p>
    <p id="new-password"> Reset To Temporary Password: <%=newPassword%> </p>
    <a id="reset-btn" target="_blank" href="<%=link%>" onclick="resetPassword()">RESET PASSWORD</a>
    <p>If button doesn't work, use link <%=link%></p>
    <p class="info">If you did not request to password your reset, please ignore this email. The password in this email won't be effected and the reset link will expire in 5 minutes.</p>

    <footer>
        <hr>
        <a href="http://github.com/JoshuaOndieki">Joshua Ondieki</a>
        |
        <a href="http://github.com/stevehotcodes">Stephen Ondieki</a>
    </footer>

    <script>
        async function resetPassword() {
          const url = '<%=link%>'

          const response = await fetch(url, {
            method: 'PATCH'
          })

          data = await response.json()
          const newTab = window.open('', '_blank')
          newTab.document.write(`<pre>${JSON.stringify(data, null, 4)}</pre>`)
          newTab.document.close()
        }
    </script>
</body>
</html>